@{
    ViewData["Title"] = "Inicio";
}

<div class="col">
    <div class="card h-100 text-center">
        <div class="card-body">
            <img src="/documentos/Logotipo Excavaciones Rivera.png" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="text-center mb-5"></div>

<div class="row row-cols-1 row-cols-md-4 g-4">

    @if (User.IsInRole(ProyectoIngenieria.Utilities.RolesUsuario.Role_Admin))
    {

        <!-- Vehículos -->
        <div class="col">
            <a asp-controller="Vehiculo" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-truck-front fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Vehículos</h5>
                        <p class="card-text">Gestionar los vehículos registrados.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Empresas -->
        <div class="col">
            <a asp-controller="Empresa" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-building fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Empresas</h5>
                        <p class="card-text">Administrar la información de las empresas.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Mantenimientos -->
        <div class="col">
            <a asp-controller="RegistroMantenimiento" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-wrench-adjustable-circle fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Mantenimientos</h5>
                        <p class="card-text">Administrar la información de los mantenimientos.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Operadores -->
        <div class="col">
            <a asp-controller="Operador" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-person-workspace fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Colaboradores</h5>
                        <p class="card-text">Administrar la información de los colaboradores.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Proyectos -->
        <div class="col">
            <a asp-controller="Proyecto" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-kanban fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Proyectos</h5>
                        <p class="card-text">Administrar los proyectos.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Lugares de trabajo -->
        <div class="col">
            <a asp-controller="LugarTrabajo" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-geo-alt fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Lugares de trabajo</h5>
                        <p class="card-text">Administrar lugares de trabajo.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Categorías de trabajo -->
        <div class="col">
            <a asp-controller="TipoTrabajo" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-list-check fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Tipos de trabajo</h5>
                        <p class="card-text">Administrar Categorías de trabajo.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Marcas de vehículos -->
        <div class="col">
            <a asp-controller="Marca" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-tags fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Marcas de vehículos</h5>
                        <p class="card-text">Administrar marcas de vehículos.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Tipos de vehículos -->
        <div class="col">
            <a asp-controller="TipoVehiculo" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-truck-flatbed fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Tipos de vehículos</h5>
                        <p class="card-text">Administrar tipos de vehículos.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Horas de trabajo -->
        <div class="col">
            <a asp-controller="HorasTrabajo" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-clock-history fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Horas de trabajo</h5>
                        <p class="card-text">Administrar registro de horas trabajadas.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Registro de combustible -->
        <div class="col">
            <a asp-controller="RegistroCombustible" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-fuel-pump fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Registro de combustible</h5>
                        <p class="card-text">Administrar registro de cargas de combustible a vehículos.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Reportes -->
        <div class="col">
            <a asp-controller="Reporte" asp-action="Index" class="card-link">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-file-earmark-bar-graph fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Reporte</h5>
                        <p class="card-text">Genera y visualiza reportes</p>
                    </div>
                </div>
            </a>
        </div>

    }
</div>
