<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyectos</title>

</head>
<body class="bg-light p-4">

    <div class="container bg-white p-4 rounded shadow">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3 text-success fw-bold">PROYECTOS</h1>
            <a asp-controller="Proyecto" asp-action="Upsert" class="btn btn-success">
                <i class="bi bi-plus-circle me-1"></i> AGREGAR PROYECTO
            </a>
        </div>

        <div class="mb-3">
            <label for="estadoFiltro" class="form-label fw-semibold">FILTRAR POR ESTADO: </label>
            <select id="estadoFiltro" class="form-select w-25">
                <option value="">Todos</option>
                <option value="No iniciado">No iniciado</option>
                <option value="En proceso">En proceso</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </div>

        <div class="table-responsive">
            <table id="taskTable" class="table table-bordered table-hover table-sm align-middle text-center">
                <thead class="table-success text-dark ">
                    <tr>
                        <th class="text-center">NOMBRE</th>
                        <th class="text-center">CLIENTE</th>
                        <th class="text-center">FECHA DE INICIO</th>
                        <th class="text-center">FECHA DE CIERRE</th>
                        <th class="text-center">ESTADO</th>
                        <th class="text-center">EDITAR</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <a asp-controller="Home" asp-action="Index"
           class="btn btn-outline-success rounded-circle shadow p-3"
           style="position: fixed; bottom: 30px; right: 30px; z-index: 1050; width: 80px; height: 80px; display: flex; align-items: center; justify-content: center; font-size: 2rem;">
            <i class="bi bi-arrow-left"></i>
        </a>

    </div>

    <!-- JS de jQuery y Bootstrap y DataTables -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <script src="/js/Proyecto.js"></script>
</body>
</html>
